@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
.header__body{
    z-index: 10;
    height: 10%;
    width: 100%;

    padding: 5px 0;
    background-color: #16161a;
    color: #fff;

    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;

    top: 0;
}
.header__body a {
    color: #fff;
    text-decoration: none;
}
.header__container{
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 0 20px;
}
.header__logo {
    color: #fff;
    font-family: 'Silkscreen', cursive;
    font-size: 2em;
}
.logo__carriage {
    /*animation: blink 1.2s infinite linear;*/
}
/*@keyframes blink {*/
/*    from {*/
/*        opacity: 0;*/
/*    }*/
/*    to {*/
/*        opacity: 1;*/
/*    }*/
/*}*/
